.main {
    background-color: var(--black-one);
    width: 230px;
    height: calc(100vh - 40px);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 16px;
    border: 2px solid var(--black-two);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    transition: width 0.4s ease 0.2s;
}

.button {
    background: transparent;
    color: var(--white-one);
    border: 1px solid var(--black-two);
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 0, 0, 0.111);
    color: rgb(173, 0, 0);
    border: 1px solid rgb(173, 0, 0);
}

.main.hide {
    width: 90px;
}
