.main {
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    /* border: 1px solid red; */
}


.tool {
    flex: 1;
    /* width: 100%; */
    height: 70px;
    padding: 5px;
    display: flex;
    border: 2px solid rgb(50, 50, 50);
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    gap: 5px;
}

.settings {
    position: relative;
    height: 70px;
    padding: 5px;
    border-radius: 15px;
    gap: 5px;
    /* width: 0%; */
    background-color: rgb(26, 26, 26);
    border: none;
}

.button {
    height: 100%;
    /* width: 100px; */
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    border: none;
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

.settings-div {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(26, 26, 26);
    color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.settings-div .span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(50, 50, 50);
}

.settings .button {
    background-color: transparent;
    color: rgb(50, 50, 50);
}

.dropup {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 85px;
    right: 0px;
    /* border: 1px solid red; */
    /* width: 100px; */
    border-radius: 15px 15px 0px 15px;
    background-color: rgb(26, 26, 26);
    padding: 10px;
    gap: 2px;
}

.dropup .settings-button {
    text-wrap: nowrap;
    color: rgb(50, 50, 50);
    /* background-color: rgb(62, 62, 62); */
    background-color: transparent;
    font-size: 15px;
    padding: 10px;
    border: none;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropup .settings-button:hover {
    background-color: rgb(62, 62, 62);
    border-radius: 5px;
    color: rgb(26, 26, 26);
}

.hidden {
    display: none;
}
/* } */