.main {
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    background-color: rgb(50, 50, 50);
    flex: 1;
    min-height: 0;
}

.title p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-div {
    min-height: 0;
    display: flex;
    width: 100%;
    flex: 6;
}

.text-input {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
    resize: none;
    color: var(--white-two);
    font-size: 20px;
}

.text-input:focus {
    outline: none;
}

.button-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.button-div .title-button {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}
