.main {
    color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    container-type: size;
    /* border: 1px solid red; */
}

.timeDiv {
    height: 60%;
    /* flex: 7; */
    display: flex;
    /* font-size: 23px; */
    font-size: clamp(23px, 25cqi, 40px);
    box-sizing: border-box;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;
    width: 100%;
}


.buttonDiv {
    /* flex: 3; */
    height: 30%;
    display: flex;
    box-sizing: border-box;
    /* border: 1px solid red; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.big .buttonDiv {
    /* flex: 3; */
    height: 10px;
}

.button svg {
    height: 100%;
    width: 100%;
}

.button {
    background-color: rgb(50, 50, 50);
    border: none;
    gap: 5px;
    height: 100%;
    font-size: 10px;
    padding: 4px;
    flex: 1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

span {
    border: 1px solid red;
}

.small .settings {
    display: none;
}

.tall {
    container-type: size;
}

.tall .timeDiv {
    display: flex;
    font-size: clamp(30px, 15cqh, 50px);
    flex-direction: column;
    letter-spacing: 3px;
    /* border: 1px solid red; */
    flex: 5;
}

.tall .buttonDiv {
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
}

.tall .doubleDot {
    display: none;
}

.tall .settings {
    display: none;
}

.big {
    display: flex;
    /* container-type: inline-size; */
    flex-direction: column;
}

.big .timeDiv {
    display: flex;
    container-type: size;
    flex: 5;
    /* border: 1px solid red; */
}

.big .timeDiv p {
    font-size: clamp(45px, 20cqw, 140px);

}

.big .buttonDiv {
    display: flex;
    aspect-ratio: 1 / 1;
    /* width: 100%; */
    flex: 1;
    /* border: 1px solid red; */
}

.big .buttonDiv svg {
    display: flex;
    /* height: 80%; */
    max-height: 80%;
    flex-grow: 0;
    /* width: 100%; */
    /* border: 1px solid gree10 */
}

.big .button {
    font-size: clamp(15px, 2cqw, 100px);
    /* height: 100%; */
    /* border: 1px solid red; */
}

.button:hover {
    cursor: pointer;
}

.wide .button {
    flex-direction: row;
}

.hidden {
    display: none;
}
