.main {
    display: flex;
    /* border: 1px solid blue; */
    flex-direction: column;
    width: 100%;
    padding: 10px;
    color: rgb(26, 26, 26);
    font-family: "Roboto";
    font-size: 20px;
    gap: 10px;
}

.title {
    /* border: 1px solid red; */
    flex: 1;
    min-height: 0;
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.title p {
    text-align: center;
    align-items: center;
}

.list {
    /* border: 1px solid green; */
    min-height: 0;
    padding: 3px;
    /* background-color: rgb(50, 50, 50); */
    /* border-radius: 5px; */
    /* width: 100%; */
    flex: 3;
}

.list ul {
    /* border: 1px solid red; */
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list ul::-webkit-scrollbar {
    display: none;
}

.list li {
    /* border: 1px solid red; */
    border-radius: 5px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(50, 50, 50);

}

.list li p {
    font-size: 17px;
    flex: 1;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.list li div {
    display: flex;
}

.list li button {
    /* border: 1px solid green; */
    border-radius: 5px;
    border: none;
    height: 30px;
    aspect-ratio: 1;
    background-color: transparent;
    color: rgb(50, 50, 50);
    font-size: 20px;
}

.list li:hover {
    background-color: rgb(35, 35, 35);
}
/* 
.list ul::-webkit-scrollbar {
    display: none;
} */

.big {
    container-type: size;
    
}

.big .title {
    max-height: 40px;
    
}
