.main {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    position: relative;
    /* justify-content: left; */
    /* align-items: center; */
    /* padding: 130px; */
    overflow: hidden;
    box-sizing: border-box;
}

.spline {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.content {
    /* border: 1px solid red; */
    position: relative;
    top: calc(50% - 300px);
    left: 200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 570px;
}

.img {
    /* flex: 10; */
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: none;
    object-position: center;
    /* height: 80%; */
    overflow: hidden;
    border-radius: 0px 20px 20px 0px;
    /* width: 100%; */
    /* border: 1px solid red; */
}

.message-div {
    height: 600px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: var(--white-one);
    font-family: var(--text-font);
    padding: 60px;
    box-sizing: border-box;
    background-color: #1a1a1ab8;
    border-radius: 20px;
    /* background-color: aliceblue; */
    /* border: 1px solid red; */
}

.title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    font-weight: 700;
    font-family: var(--title-font);
    font-size: 40px;
}

.message-content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid rgb(3, 0, 182); */
}

.message-text {
    font-size: 23px;
}

.message-center-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 30px;
    font-weight: 700;
    /* border: 1px solid red; */
}

.message-footer {
    /* margin-top: 20px; */
    font-size: 17px;
}

.bold {
    font-weight: 700;
    color: var(--white-one);
}

.message-icon {
    fill: var(--white-two);
    height: 150px
}

.button {
    width: 100%;
    background: transparent;
    cursor: pointer;
    color: var(--white-two);
    /* min-width: 40px; */
    height: 40px;
    border: 2px solid var(--white-two);
    /* border: 1px solid red; */
    border-radius: 12px;
    transition: 0.5s;
    font-size: 18px;
}

.button:hover {
    color: var(--white-one);
    border: 2px solid var(--white-one);
}



.loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.hidden {
    display: none;
}
