.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.profile_img {
    width: 25%;
    border-radius: 100%;
}

.profile_name {
    display: flex;
    align-items: center;
    color: var(--white-one);
    font-family: var(--title-font);
    font-size: var(--title-font-size);
}