.main {
    background-color: #272727;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}                                                                           

:root {
    /* White */
    --black-one: #1C1C1E;
    --black-two: #313131;
    --black-three: #3e3e3e;
    --black-four: #4f4f4f;
    --black-five: #57575f;

    /* White */
    --white-one: #FAFAFA;
    --white-two: #d5d5d5;
    --white-three: #afafaf;           
    --white-four: #959595;     

    /* Green */
    --green-one: #5ac72f;
    --green-two: #439422;
    --green-three: #327019;
    
    /* Font */
    --title-font: "Poppins", sans-serif;
    --title-font-size: 18px;
    --text-font: "Raleway", sans-serif;
    --text-font-size: 14px;
}
